
home, html {
  width: 100vw;
  height: 100vh; }
.flash {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-filter : sepia(1);
}
#game{
  
  position: relative;
  height: 100vh;
  width: 100vw;

  cursor: crosshair;
  cursor: url('/img/cursor.png') 16 16, auto;


  #canvas {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
  }

  svg { cursor: url('/img/cursor.png') 16 16, auto !important; }

  background: linear-gradient(175deg, #ed6e2b 10%, #f9d357 48%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: contain;
  background-position: left bottom;
  background-repeat-y: no-repeat;

  .background-cover{
    top: 50%;
    position: relative;
    margin-bottom: 0px;
    width: 110%;
    height: 50vh;
    left: -5%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:before {
      //transition: opacity 5s;
      background: linear-gradient(115deg, #ed6e2b 10%, #f9d357 48%);
      content: " ";
      display: block;
      height: 100%;
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      width: 100%;
      z-index: 0;
      //transition: opacity 0.45s;
      @include animation(0s, 5s, zerotozero, none, infinite);
    }

   /* display: flex;
    align-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
*/
    .background-cover__img {
      height: 110%;
      width: 110%;
      left: -5%;
      top: -5%;
      position: fixed;
      /*-webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;*/
    }

  }
  .animal {
    width: auto;
    height: 90%;
    display: inline-block;
    position: absolute;

    -webkit-user-select: none;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;

    @include animation(0s, 0.2s, jumping, none, infinite);

    object {
      height: 400%;
      width: auto;
      margin-top: -75%;
    }

    * {
      -webkit-user-select: none;
    }
  }

  .lane.lane0{
    width: 52%;
    height: 20%;
    top: 11%;
  }
  .lane.lane1{
    width: 110%;
    height: 30%;
    top: 10%;
  }
  .lane.lane2 {
    width: 110%;
    height: 50%;
    top: 4%;

  }


  .lane {
    position: relative;
    /*-webkit-user-select: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;*/


    .background-lane {
      position: absolute;
      width: 110%;
      height: 100%;
      background-size: contain;
      background-repeat: repeat-x;
      background-position-y: 100%;

      pointer-events: none;
    }

    .background-lane--0 {
      background-image: url('/img/game_background/herb1.png');
    }

    .background-lane--1 {
      background-image: url('/img/game_background/herb2.png');
      top: 17%;
    }

    .background-lane--2 {
      background-image: url('/img/game_background/herb3.png');
      background-repeat: repeat-x;
      top: 6%;
    }
  }


  #savannah {
    width: 0;
    position: fixed;
    right: 0;
    bottom: 0;
  }

  .the_end {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    z-index:1000;
    display: none;
  }
  .end-text {
    color: white;
    position: relative;
    z-index: 10;
    text-align: center;
    width: 80%;
    height: 80px;
    font-size: 36px;
    font-family:roboto, sans-serif;
    margin: auto;
    top: 50%;
  }

  .user-picture {
    z-index: 12;
    width: 640px;
    height: 480px;
    position: relative;
    margin: auto;
    /* left: 50%; */
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    .user-picture--img  {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: -170px;
      margin-left: 7px;
      transform: scale(0.35);
    }
    .user-picture--mask {
      position: absolute;
    }
  }
}

@include keyframe(zerotozero) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframe(jumping) {
  0% {
    top: 0px;
  }
  100% {
    top: 2px;
  }
}

