#home{
	height: 100%;
  background-color: #BFA65A;
  background: linear-gradient(115deg, #ed6e2b 10%, #f9d357 100%);
	
	/* Phase 1 : Animation just before the home presenation appear */
	.phase1{
		height: 100%;
 		width: 100%;
  	position: absolute;
  	z-index: 1;
  	background-size: 100%;

  	.animation-begin{
  		width: 100%;
  		height: 20%;

      &.type-one{
      animation : move-right 4s;
      transform: translateX(100%);
      }
  			
      &.type-two{
        animation : move-left 4s;
      	transform: translateX(-100%);
      }
      		
      &:nth-child(1){
      	background-image: url('../../img/lion.png');
      	background-position: 50% 40%;
      }
      &:nth-child(2){
      	background-image: url('../../img/elephant.png');
      	background-position: 50% 35%;
      }
      &:nth-child(3){
      	background-image: url('../../img/buffle.png');
      	background-position: 50% 45%;
      }
      &:nth-child(4){
      	background-image: url('../../img/leopard.png');
      	background-position: 50% 20%;
      }
      &:nth-child(5){
      	background-image: url('../../img/rhinoceros.png');
      	background-position: 50% 60%;
      }
    }
	}

	/* Phase 2 : the home menu presentation is here now */
	.phase2{
		  z-index: 2;
  		height: 100%;
  		width: 100%;
  		position: absolute;
  		animation: anim-opacity 7s;
  		opacity: 1;
      background: linear-gradient(115deg, #ed6e2b 10%, #f9d357 88%);

      .border{
        border: 5px solid transparent;
        -webkit-border-image: -webkit-linear-gradient(right, #FC913A 0%, #FF4E50 100%);
        -webkit-border-image: -o-linear-gradient(right, #FC913A 0%, #FF4E50 100%);
        -webkit-border-image: linear-gradient(to left, #FC913A 0%, #FF4E50 100%);
        -o-border-image: -o-linear-gradient(right, #FC913A 0%, #FF4E50 100%);
        border-image: linear-gradient(-115deg, #ed6e2b 10%, #f9d357 48%);
        border-image-slice: 1;
        width:500px;
        margin-left:auto;
        margin-right:auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding:5%;
        animation: move-gradient 10s;
        
      
              
        .bigfive1{
          font-family: 'Bevan', serif;
          font-size: 150px;
          text-align:center;
          color: #CB3F24;
          background: url('../../img/sunset.jpg') no-repeat;
          -webkit-background-clip:text;  
          -webkit-text-fill-color: transparent;
          animation : move-background 30s infinite alternate linear;
          opacity:.8;
        }
      
        .bigfive2{
          font-family: 'Roboto', sans-serif;
          font-size: 28px;
          text-align: center;
          color: #CB3F24;
           //background: url('../../img/sunset.jpg') no-repeat;
          //-webkit-background-clip:text;  
          //-webkit-text-fill-color: transparent;
          animation : move-background 80s infinite alternate linear;
          opacity:.8;
          margin-top:3%;
        }
        .button{
          display: block;
          padding:10px;
          width:200px;
          font-family: 'Roboto', sans-serif;
          text-align: center;
          font-size: 20px;
          margin-left: auto;
          margin-right:auto;
          margin-top: 10%;
          color: #ECDA9D;
          background-color: #CB3F24;
          cursor: pointer;
        }
        .button:hover{
        }
      }
	}
  
  /* Phase 3 : choose a profil picture or use the webcam */


  .profil-picture{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(115deg, #ed6e2b 10%, #f9d357 44%);
    background-size: cover;
    
    .info{
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 44px;
      color: #313131;
      margin-top : 1%;
    }

    p{
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 20px;
      line-height: 27px;
      margin-top:3%;
    }
    
    ul{
      width:100%;
      text-align:center;

      li{
        display:inline-block;
        border: 2px solid transparent;

          img{
            width:154px;
            height:116px;
            cursor:pointer;
          }
      
          canvas{
            /*transform: scale(0.3);*/
            width:150px;
            border: 2px solid transparent;
            cursor:pointer;
          }

        &:hover{
          border:2px solid #E8D8A0;
        }
      }

    }

    .button-webcam{
      display: block;
      padding:10px;
      width:200px;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 20px;
      margin-left: auto;
      margin-right:auto;
      color: #ECDA9D;
      background-color: #CB3F24;
      cursor: pointer;
      margin-top:3%;
      box-shadow:0px 0px 2px #aaa
     }

    .take-picture{
      display:none;
    }
    .webcam-container{
      display : none;
      
      .video{
        position:relative;
        width:400px;
        margin:auto;
        margin-top:3%;

        video{
          width: 400px;
          height:300px;
        }

        .filter{
          position:absolute;
          width:150px;
          height:200px;
          left:125px;
          top:50px;
          border:2px solid transparent;
          -webkit-border-image: -webkit-linear-gradient(right, #FC913A 0%, #FF4E50 100%);
          -webkit-border-image: -o-linear-gradient(right, #FC913A 0%, #FF4E50 100%);
          -webkit-border-image: linear-gradient(to left, #FC913A 0%, #FF4E50 100%);
          -o-border-image: -o-linear-gradient(right, #FC913A 0%, #FF4E50 100%);
          border-image: linear-gradient(-115deg, #ed6e2b 10%, #f9d357 48%);
          border-image-slice: 1;
        }
      }

    }
    
    .validate{
      width: 100%;
      height:100%;
      position:absolute;
      top:0;
      display:none;

    .background{
      background:black;
      width:100%;
      height:100%;
      opacity:0.5;
      position:absolute;
      }
    .pop{
      padding-top:20px;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      width:300px;
      height:200px;
      background:white;
      position:absolute;
      margin-left:auto;;

      div{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 20px;
      }

      a{
        margin-top:10%;
      }

      }
    }

  }

}

  
/* All the animation of the home */

/* Animation of the Phase 1 */
@keyframes move-right{
  0%{
    transform: translateX(-100%)
  }
  90%{
    transform : translateX(0%);
    opacity: 1;
  }
  100%{
    transform : translateX(100%);
    opacity: 0;
    }
}
@keyframes move-left{
  0%{
    transform : translateX(100%);
  }
  90%{
    transform : translateX(0%);
    opacity: 1;
  }
  100%{
    transform : translateX(-100%);
    opacity: 0;
  }
}
@keyframes move-background{
  0%{
    background-position: 0 10%;
  }
  100%{
    background-position: 90% 10%;
  }
}
@keyframes anim-opacity{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes anim-opacity-bigfive{
  0%{
    opacity: 0.3;
  }
  100%{
    opacity: 0.8;
  }
}