#home{
	height: 100%;
  background-color: #BFA65A;
	
	/* Phase 1 : Animation just before the home presenation appear */
	.phase1{
		height: 100%;
 		width: 100%;
  	position: absolute;
  	z-index: 1;
  	background-size: 100%;

  	.animation-begin{
  		width: 100%;
  		height: 20%;

      &.type-one{
      animation : move-right 4s;
      transform: translateX(100%);
      }
  			
      &.type-two{
        animation : move-left 4s;
      	transform: translateX(-100%);
      }
      		
      &:nth-child(1){
      	background-image: url('../../img/lion.png');
      	background-position: 50% 40%;
      }
      &:nth-child(2){
      	background-image: url('../../img/elephant.png');
      	background-position: 50% 35%;
      }
      &:nth-child(3){
      	background-image: url('../../img/buffle.png');
      	background-position: 50% 45%;
      }
      &:nth-child(4){
      	background-image: url('../../img/leopard.png');
      	background-position: 50% 20%;
      }
      &:nth-child(5){
      	background-image: url('../../img/rhinoceros.png');
      	background-position: 50% 60%;
      }
    }
	}

	/* Phase 2 : the home menu presentation is here now */
	.phase2{
		  z-index: 2;
  		height: 100%;
  		width: 100%;
  		position: absolute;
  		background-image: url('../../img/home_background.png');
  		background-size: cover;
  		background-repeat: no-repeat;
  		animation: anim-opacity 7s;
  		opacity: 1;

  		.bigfive1{
  			font-family: 'Frijole', cursive;
  			font-size: 300px;
  			opacity: 0.5;
 			  text-align:center;
  			color: #732412;
  			background: url('../../img/sunset.jpg') no-repeat;
  			background-position: 0 0; 
  			-webkit-background-clip:text;  
 			  -webkit-text-fill-color: transparent;
  			animation : move-background 40s infinite alternate linear;
  			line-height: 110%;
  			pointer-events: none;
  		}
  		.bigfive2{
  			font-family: 'Playfair Display SC', serif;
 			font-size: 46px;
  			top: 40%;
  			left: 0;
  			right: 0;
  			text-align: center;
  			color: #313131;
  			position: absolute;
  		}
  		.button{
  			display: block;
    		width: 15%;
    		font-family: 'Playfair Display SC', serif;
   			text-align: center;
    		font-size: 30px;
    		padding: 10px;
    		margin-left: 40%;
    		margin-top: 0%;
    		color: #732412;
    		background-color: #E8D8A0;
    		background-position: 100% 100%;
    		cursor: pointer;
  		}
	}
  
  /* Phase 3 : choose a profil picture or use the webcam */


  .profil-picture{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../../img/background.png) no-repeat;
    background-size: cover;
    
    .info{
      font-family: 'Playfair Display SC', serif;
      text-align: center;
      font-size: 36px;
      color: #313131;
      margin-top : 1%;
    }

    p{
      font-family: 'Lato', serif;
      text-align: center;
      font-size: 20px;
      line-height: 27px;
      margin-top:3%;
    }
    
    ul{
      margin-top:3%;
      margin-left:30%;
      li{
        float:left;
        margin:10px;
        border: 2px solid transparent;

          img{
            width:100px;
            height:100px;
          }
          &:hover{
          border:2px solid #E8D8A0;
        }
        }
    }

    .button-webcam{
      width: 200px;
      font-family: 'Playfair Display SC', serif;
      text-align: center;
      font-size: 24px;
      padding: 10px;
      color: #732412;
      background-color: #E8D8A0;
      cursor: pointer;
    }

    .call-webcam{
    }
    .random-picture{
  
    }

    .take-picture{
      display:none;
    }
    .webcam-container{
      display : none;  
      clear:both;
      margin-top:15%;

      video{
        width: 400px;
        heigh:300px;
        position:absolute;
        background-color:yellow;
      }

      .filter{
        width:150px;
        height:200px;
        border-radius:500px;
        margin-left:125px;
        margin-top:50px;
        position:absolute;
        border:2px solid yellow;
      }

      canvas{
        /*transform: scale(0.3);*/
        width:150px;
        border: 2px solid transparent;
        margin-left:20%;
        position:absolute;
        &:hover{
          border:2px solid #E8D8A0;
        }
      }
    }
    
    .validate{
      width: 100%;
      height:100%;
      position:absolute;
      top:0;
      display:none;

      .background{
        background:black;
        width:100%;
        height:100%;
        opacity:0.5;
        position:absolute;
      }
      .pop{
        width:20%;
        height:20%;
        background:white;
        position:absolute;
      }
    }

  }

}

  
/* All the animation of the home */

/* Animation of the Phase 1 */
@keyframes move-right{
  0%{
    transform: translateX(-100%)
  }
  90%{
    transform : translateX(0%);
    opacity: 1;
  }
  100%{
    transform : translateX(100%);
    opacity: 0;
    }
}
@keyframes move-left{
  0%{
    transform : translateX(100%);
  }
  90%{
    transform : translateX(0%);
    opacity: 1;
  }
  100%{
    transform : translateX(-100%);
    opacity: 0;
  }
}
@keyframes move-background{
  0%{
    background-position: 0 -5%;
    opacity: 0.3
  }
  100%{
    background-position: 100% -5%;
    opacity: 0.8;
  }
}
@keyframes anim-opacity{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes anim-opacity-bigfive{
  0%{
    opacity: 0.3;
  }
  100%{
    opacity: 0.8;
  }
}