
<div class="animal">
        <object data="{{ svgPath }}" type="image/svg+xml" id="animal-{{ animalUid }}"
                viewBox="0 0 200 200"
                width= "auto"
                height="100%"></object>
</div>