<section id="game">
    <canvas id="canvas" ></canvas>
    <div class="background-cover">
        <img class="background-cover__img" src="/img/game_background/unicorns.png" alt="savannah">
    </div>
</section>