<section id="home">

	<div class="phase1">
    <div class="animation-begin type-one"></div>
    <div class="animation-begin type-two"></div>
    <div class="animation-begin type-one"></div>
    <div class="animation-begin type-two"></div>
    <div class="animation-begin type-one"></div>
  </div>

  <div class="phase2">
    <div class="bigfive1">BIG FIVE</div>
    <div class="bigfive2">Become the greatest hunter of the savannah !</div>
    <a class="button">Let's go !</a>
  </div>
  
  <div class="background-profil-picture"></div>
  <div class="profil-picture">
    <div class="info">We just need your picture...</div>
    <a class="button-webcam call-webcam">Webcam</a>
    <div class="webcam-container">
      <a class="button-webcam take-picture">Take a picture</a>
      <canvas width="640" height="480"></canvas>
    </div>

  </div>

</section>