<section id="home">

	<div class="phase1">
    <div class="animation-begin type-one"></div>
    <div class="animation-begin type-two"></div>
    <div class="animation-begin type-one"></div>
    <div class="animation-begin type-two"></div>
    <div class="animation-begin type-one"></div>
  </div>

  <div class="phase2">
    <div class="border">
      <div class="bigfive1">BIG</br>FIVE</div>
      <div class="bigfive2">Five targets. Shoot them and become the greatest hunter ever !</div>
      <a class="button">Ready ?</a>
    </div>
  </div>
  
  <div class="background-profil-picture"></div>
  <div class="profil-picture">
    <div class="info">Hey Hunter !</br>We just need your picture...</div>
    <p>Select the one you want</p>
    <ul>
      <li><img src="../img/rhinoceros.png" alt=""></li>
      <li><img src="../img/lion.png" alt=""></li>
      <li><img src="../img/elephant.png" alt=""></li>
      <li class="li-canvas"></li>
    </ul>
    <a class="button-webcam call-webcam">Or use the webcam</a>
    <a class="button-webcam take-picture">Take a picture</a>
    <div class="webcam-container"></div>
    <div class='validate'>
      <div class="background"></div>
      <div class="pop">
        <div>Are you sure ?</div>
        <a class="button-webcam yes" href="/game">Let's go</a>
        <a class="button-webcam no">No</a>
      </div>
    </div>
    
  </div>

</section>