<section id="home">

	<h2>{{ home.title }}</h2>
	<br />
	<a href="/game">Jouer !</a>

	<br /><br />

  <h1>Mon projet h3</h1>
  <p>{{ home.content }}</p>

    <label for="player-name"> {{ home.playername_label }} :
    <input type="text" name="player-name" id="player-name"></label>
    <button class="next_view" >Jouer !</button>
</section>

