<div id="loader">
        <div class="anima type-one"></div>
        <div class="anima type-two"></div>
        <div class="anima type-one"></div>
        <div class="anima type-two"></div>
        <div class="anima type-one"></div>
</div>